[sshd]
enabled = true
port = {{ fail2ban_ssh_port | default('22') }}
filter = sshd
logpath = /var/log/auth.log
maxretry = {{ fail2ban_maxretry | default('5') }}
bantime = {{ fail2ban_bantime | default('86400') }}
findtime = {{ fail2ban_findtime | default('600') }}
